@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap");
.header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  align-items: flex-end;
  flex-wrap: wrap; }

.header img {
  width: 100px;
  margin-left: 5px; }

.header ul {
  display: flex !important;
  list-style-type: none !important;
  width: 400px !important;
  justify-content: space-around !important;
  padding-right: 0px !important;
  /* background-color: hsla(240, 43%, 99%, 0.487); */ }

.header a {
  font-size: large;
  font-family: "Cardo", serif;
  color: #7d5bbb;
  text-decoration: none;
  text-transform: uppercase; }

.icono-carrito {
  width: 30px;
  padding-bottom: 10px; }

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pokemon pokemon" "digimon bosque";
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-items: center; }

.pokemon {
  grid-area: pokemon; }

.digimon {
  grid-area: digimon; }

.bosque {
  grid-area: bosque; }

.pokemon img {
  width: 300px;
  margin-bottom: 0px; }

.digimon img {
  width: 300px; }

.bosque img {
  width: 350px; }

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 20px; }

.carrusel {
  display: flex;
  width: 100%;
  height: 430px; }

.carrusel img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s; }

.carrusel img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%); }

.producto {
  border-radius: 10px; }

.producto:hover {
  box-shadow: 0 10px 20px #020000; }

.producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 1s; }

.producto figure {
  overflow: hidden; }

.producto:hover img {
  transform: scale(1.2); }

.info-producto {
  display: flex;
  padding: 15px 30px;
  line-height: 2;
  flex-direction: column;
  gap: 10px; }

.descripcion {
  font-size: 15px; }

.precio {
  font-size: 10px;
  font-weight: 900; }

.info-producto button {
  border: none;
  background: none;
  background-color: #020000;
  color: #fff;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 10px; }

.seccion-1 {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  margin: 0px; }

.seccion-1 img {
  width: 250px;
  margin-bottom: 30px;
  margin-right: 30px; }

.flex {
  font-family: "Dancing Script", cursive;
  color: #312f2f;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-end; }

.flex-1 {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center; }

span {
  margin-top: 30px; }

.flex div {
  margin: 10px 100px 10px 100px; }

.flex img {
  width: 400px;
  margin: 20px; }

.flex-2 img {
  width: 100px;
  margin-bottom: 20px; }

.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 70px;
  margin-left: 150px;
  margin-right: 150px;
  align-content: center; }

.logo-i img {
  width: 100px;
  margin-block: 10px; }

.logo-yt img {
  width: 100px;
  margin-block: 10px; }

.logo-lk img {
  width: 100px;
  margin-block: 10px; }

.pie {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: hsla(240, 27%, 47%, 0.487); */
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: flex-end; }

.pie ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center; }

.pie img {
  width: 20px; }

.pie a {
  margin: 20px;
  font-size: large;
  font-family: "Cardo", serif;
  color: #7d5bbb;
  text-decoration: none;
  text-transform: uppercase; }

* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Dancing Script", cursive; }

.img {
  width: 100%; }

.imagen {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around; }

.body-s {
  background-color: #fff; }

.body {
  font-family: "Cardo", serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: 12px;
  font-family: baskerville-urw;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  font-size: 17px;
  text-transform: none;
  text-decoration: none; }

a:hover {
  font-family: "Dancing Script", cursive;
  color: #b4a2e4;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold; }

h1:hover {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold; }

@media (max-width: 500px) {
  .section {
    grid-template-columns: 1fr;
    grid-template-areas: "pokemon" "digimon" "bosque"; } }
